In [32]:
import pandas as pd

# pd.date_range()는
# start + end + freq 조합,
# start + periods + freq 조합,
# start + end + periods 조합
# 이렇게 3개 중 하나만 정상적으로 쓸 수 있어요.


# Timestamp의 배열 만들기 - 월 간격, 월의 시작일 기준
ts_ms = pd.date_range(start='2025-01-01',    # 날짜 범위의 시작
                   end='2025-10-02',                 # 날짜 범위의 끝
                   periods=100,                # 생성할 Timestamp의 개수
                #    freq='MS',                # 시간 간격 (MS: 월의 시작일)
                   tz='Asia/Seoul')          # 시간대(timezone)

# print(ts_ms)
# print(ts_ms.strftime('%y-%m-%d'))
print(type(ts_ms))  #<class 'pandas.core.indexes.datetimes.DatetimeIndex'> : ts_ms ==> 문자열

data = {'date': ts_ms.strftime('%Y-%m-%d')}
df = pd.DataFrame(data)
df.date = pd.to_datetime(df.date)
print(type(df))
df

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas.core.frame.DataFrame'>

         date
0  2025-01-01
1  2025-01-03
2  2025-01-06
3  2025-01-09
4  2025-01-12
..        ...
95 2025-09-20
96 2025-09-23
97 2025-09-26
98 2025-09-29
99 2025-10-02

[100 rows x 1 columns]

In [33]:
#연도/월/요일을 추출해서 새로운 컬럼으로 넣기
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
df['day_int'] = df.date.dt.weekday  #0:월요일

#day_int -> day_str 함수 만들기
def convert_week(x):
    temp = ['월', '화', '수', '목', '금', '토', '일']
    return temp[x]
df['day_str'] = df['day_int'].apply(lambda x: convert_week(x))
df.head()


# #day_weekend : 주말 1, 나머지는 0
# def convert_weekend(x):
#     if x == 5 or x==6:
#         return 1
#     else:
#         return 0

# df['day_weekend'] = df['day_int'].apply(lambda x: convert_weekend(x))

df['day_weekend'] = df['day_int'].apply(lambda x: 1 if x in ['토', '일'] else 0)

df.head()

        date  year  month  day_int day_str  day_weekend
0 2025-01-01  2025      1        2       수            0
1 2025-01-03  2025      1        4       금            0
2 2025-01-06  2025      1        0       월            0
3 2025-01-09  2025      1        3       목            0
4 2025-01-12  2025      1        6       일            0

In [ ]:
%pip install holidays

In [52]:
import holidays
kr_holidays = holidays.KR(years=[2025])
kr_holidays.append({
    '2025-10-10' : '휴강'
})
kr_holidays = sorted(kr_holidays.items(), key=lambda x: x[0])
for key, value in kr_holidays:
    print(f' {key} {value}')

print(kr_holidays[0])

 2025-01-01 신정연휴
 2025-01-27 임시공휴일
 2025-01-28 설날 전날
 2025-01-29 설날
 2025-01-30 설날 다음날
 2025-03-01 삼일절
 2025-03-03 삼일절 대체 휴일
 2025-05-05 부처님오신날; 어린이날
 2025-05-06 부처님오신날 대체 휴일; 어린이날 대체 휴일
 2025-06-03 대통령 선거일
 2025-06-06 현충일
 2025-08-15 광복절
 2025-10-03 개천절
 2025-10-05 추석 전날
 2025-10-06 추석
 2025-10-07 추석 다음날
 2025-10-08 추석 대체 휴일
 2025-10-09 한글날
 2025-10-10 휴강
 2025-12-25 기독탄신일
(datetime.date(2025, 1, 1), '신정연휴')

In [54]:
kr_holidays

[(datetime.date(2025, 1, 1), '신정연휴'),
 (datetime.date(2025, 1, 27), '임시공휴일'),
 (datetime.date(2025, 1, 28), '설날 전날'),
 (datetime.date(2025, 1, 29), '설날'),
 (datetime.date(2025, 1, 30), '설날 다음날'),
 (datetime.date(2025, 3, 1), '삼일절'),
 (datetime.date(2025, 3, 3), '삼일절 대체 휴일'),
 (datetime.date(2025, 5, 5), '부처님오신날; 어린이날'),
 (datetime.date(2025, 5, 6), '부처님오신날 대체 휴일; 어린이날 대체 휴일'),
 (datetime.date(2025, 6, 3), '대통령 선거일'),
 (datetime.date(2025, 6, 6), '현충일'),
 (datetime.date(2025, 8, 15), '광복절'),
 (datetime.date(2025, 10, 3), '개천절'),
 (datetime.date(2025, 10, 5), '추석 전날'),
 (datetime.date(2025, 10, 6), '추석'),
 (datetime.date(2025, 10, 7), '추석 다음날'),
 (datetime.date(2025, 10, 8), '추석 대체 휴일'),
 (datetime.date(2025, 10, 9), '한글날'),
 (datetime.date(2025, 10, 10), '휴강'),
 (datetime.date(2025, 12, 25), '기독탄신일')]

In [55]:
df['date'][0] in kr_holidays

False

In [59]:
pd.to_datetime('2025-01-01') in kr_holidays

False

In [68]:
kr_holidays[0][0]

datetime.date(2025, 1, 1)

In [62]:
df.date[0]

Timestamp('2025-01-01 00:00:00')

In [67]:
df.date  #datetime64
kr_holidays #datetime.date
df['date'].dt.date[0] #datetime.date
df['date'].dt.date.isin([ a for a,b in kr_holidays])  #True False로 나옴
df['is_holiday']=df['date'].dt.date.isin([ a for a,b in kr_holidays]).astype(int)
df

         date  year  month  day_int day_str  day_weekend  is_holiday
0  2025-01-01  2025      1        2       수            0           1
1  2025-01-03  2025      1        4       금            0           0
2  2025-01-06  2025      1        0       월            0           0
3  2025-01-09  2025      1        3       목            0           0
4  2025-01-12  2025      1        6       일            0           0
..        ...   ...    ...      ...     ...          ...         ...
95 2025-09-20  2025      9        5       토            0           0
96 2025-09-23  2025      9        1       화            0           0
97 2025-09-26  2025      9        4       금            0           0
98 2025-09-29  2025      9        0       월            0           0
99 2025-10-02  2025     10        3       목            0           0

[100 rows x 7 columns]

In [ ]:
#holiday : 맞으면 1 아니면 0

df['day_int'] = df.date.dt.weekday  #0:월요일


def find_holiday(x):
    for i in x:
        if x in i :
            return 1
        else:
            return 0

# h1=find_holiday(df.date)
# h1

df['is_holiday']=df['date'].apply(lambda x: find_holiday(x))
df

         date  year  month  day_int day_str  day_weekend  is_holiday
0  2025-01-01  2025      1        2       수            0           0
1  2025-01-03  2025      1        4       금            0           0
2  2025-01-06  2025      1        0       월            0           0
3  2025-01-09  2025      1        3       목            0           0
4  2025-01-12  2025      1        6       일            0           0
..        ...   ...    ...      ...     ...          ...         ...
95 2025-09-20  2025      9        5       토            0           0
96 2025-09-23  2025      9        1       화            0           0
97 2025-09-26  2025      9        4       금            0           0
98 2025-09-29  2025      9        0       월            0           0
99 2025-10-02  2025     10        3       목            0           0

[100 rows x 7 columns]