In [2]:
import pandas as pd
import seaborn as sns

In [4]:
mpg=sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [ ]:
# groupby : cylinders별 마력의 평균
    # name별 연식의 평균
    # name이 공백을 기준으로 제조사[0] - 모델[나머지]
    # 제조사 컬럼을 만들고 제조사를 추가 
# 필터 : mpg가 15이상인 모델 
# index를 재구성 : origin
# iloc, loc 를 이용해서 데이터를 row, column 다양하게 출력

In [ ]:
# groupby : cylinders별 마력의 평균
mpg.groupby('cylinders', observed=True)['horsepower'].mean()

cylinders
3     99.250000
4     78.281407
5     82.333333
6    101.506024
8    158.300971
Name: horsepower, dtype: float64

In [47]:
    # name별 연식의 평균
mpg.groupby('name', observed=True)['model_year'].agg('mean')

name
amc ambassador brougham    73.0
amc ambassador dpl         70.0
amc ambassador sst         72.0
amc concord                79.0
amc concord d/l            78.0
                           ...
vw dasher (diesel)         80.0
vw pickup                  82.0
vw rabbit                  78.0
vw rabbit c (diesel)       80.0
vw rabbit custom           79.0
Name: model_year, Length: 305, dtype: float64

In [ ]:
# groupby : cylinders별 마력의 평균
    # name별 연식의 평균
    # name이 공백을 기준으로 제조사[0] - 모델[나머지]
    # 제조사 컬럼을 만들고 제조사를 추가 

## DJ
# list_a = list(mpg['name'])
# list_company = []
# for i in list_a:
#     i_s = i.split()      # 공백 기준 분리
#     list_company.append(i_s[0])  # 첫 번째 단어만 추가
# list_company
# # 리스트를 새로운 컬럼으로 추가
# mpg['manufacturer'] = list_company

# [i[0] for i in mpg['name'].str.split().values]  : 공백기준 제조사만 출력 방법1
# mpg['name'].apply(lambda x:x.split()[0]) : 공백기준 제조사만 출력 방법2 
mpg['name'].str.split().str.get(0) #공백기준 제조사만 출력 방법3

#mpg['maker']= [i[0] for i in mpg['name'].str.split().values]

# mpg['maker']= mpg['name'].apply(lambda x:x.split()[0])  
mpg['maker']= mpg['name'].str.split().str.get(0) #제조사 컬럼추가
# mpg.head()

['chevrolet',
 'buick',
 'plymouth',
 'amc',
 'ford',
 'ford',
 'chevrolet',
 'plymouth',
 'pontiac',
 'amc',
 'dodge',
 'plymouth',
 'chevrolet',
 'buick',
 'toyota',
 'plymouth',
 'amc',
 'ford',
 'datsun',
 'volkswagen',
 'peugeot',
 'audi',
 'saab',
 'bmw',
 'amc',
 'ford',
 'chevy',
 'dodge',
 'hi',
 'datsun',
 'chevrolet',
 'toyota',
 'ford',
 'amc',
 'plymouth',
 'chevrolet',
 'ford',
 'amc',
 'chevrolet',
 'pontiac',
 'ford',
 'plymouth',
 'dodge',
 'ford',
 'pontiac',
 'amc',
 'chevrolet',
 'pontiac',
 'ford',
 'mercury',
 'opel',
 'peugeot',
 'fiat',
 'toyota',
 'datsun',
 'volkswagen',
 'plymouth',
 'toyota',
 'dodge',
 'volkswagen',
 'chevrolet',
 'ford',
 'chevrolet',
 'pontiac',
 'plymouth',
 'ford',
 'amc',
 'mercury',
 'buick',
 'oldsmobile',
 'chrysler',
 'mazda',
 'amc',
 'chevrolet',
 'ford',
 'plymouth',
 'volvo',
 'volkswagen',
 'peugeot',
 'renault',
 'ford',
 'datsun',
 'toyouta',
 'dodge',
 'toyota',
 'buick',
 'amc',
 'chevrolet',
 'ford',
 'dodge',
 'mercury',
 'chevrolet',
 'ford',
 'plymouth',
 'chrysler',
 'buick',
 'amc',
 'plymouth',
 'chevrolet',
 'amc',
 'ford',
 'plymouth',
 'volkswagen',
 'chevrolet',
 'ford',
 'plymouth',
 'oldsmobile',
 'amc',
 'toyota',
 'chevrolet',
 'datsun',
 'maxda',
 'ford',
 'mercury',
 'fiat',
 'chevrolet',
 'pontiac',
 'fiat',
 'opel',
 'audi',
 'volvo',
 'dodge',
 'saab',
 'toyota',
 'oldsmobile',
 'plymouth',
 'ford',
 'amc',
 'chevrolet',
 'datsun',
 'ford',
 'toyota',
 'chevrolet',
 'chevrolet',
 'amc',
 'plymouth',
 'ford',
 'buick',
 'dodge',
 'ford',
 'amc',
 'audi',
 'volkswagen',
 'opel',
 'toyota',
 'datsun',
 'dodge',
 'fiat',
 'fiat',
 'honda',
 'subaru',
 'fiat',
 'plymouth',
 'chevrolet',
 'mercury',
 'ford',
 'pontiac',
 'chevrolet',
 'plymouth',
 'ford',
 'buick',
 'chevroelt',
 'amc',
 'plymouth',
 'buick',
 'chevrolet',
 'ford',
 'toyota',
 'ford',
 'amc',
 'pontiac',
 'toyota',
 'volkswagen',
 'datsun',
 'ford',
 'volkswagen',
 'amc',
 'audi',
 'peugeot',
 'volvo',
 'saab',
 'honda',
 'fiat',
 'opel',
 'capri',
 'dodge',
 'renault',
 'chevrolet',
 'dodge',
 'amc',
 'ford',
 'plymouth',
 'chevrolet',
 'ford',
 'amc',
 'chevrolet',
 'chevrolet',
 'vw',
 'honda',
 'dodge',
 'ford',
 'pontiac',
 'amc',
 'volkswagen',
 'datsun',
 'toyota',
 'ford',
 'volvo',
 'plymouth',
 'peugeot',
 'toyota',
 'mercedes-benz',
 'cadillac',
 'chevy',
 'ford',
 'dodge',
 'honda',
 'buick',
 'renault',
 'plymouth',
 'datsun',
 'chevrolet',
 'oldsmobile',
 'dodge',
 'mercury',
 'chevrolet',
 'buick',
 'plymouth',
 'ford',
 'pontiac',
 'chevrolet',
 'chrysler',
 'ford',
 'volkswagen',
 'pontiac',
 'toyota',
 'ford',
 'chevrolet',
 'dodge',
 'subaru',
 'volkswagen',
 'datsun',
 'bmw',
 'mazda',
 'volkswagen',
 'ford',
 'mazda',
 'datsun',
 'honda',
 'oldsmobile',
 'dodge',
 'mercury',
 'pontiac',
 'chevrolet',
 'ford',
 'ford',
 'plymouth',
 'amc',
 'buick',
 'mercury',
 'dodge',
 'amc',
 'chevrolet',
 'buick',
 'ford',
 'dodge',
 'chevrolet',
 'toyota',
 'datsun',
 'dodge',
 'toyota',
 'plymouth',
 'oldsmobile',
 'datsun',
 'audi',
 'volvo',
 'saab',
 'peugeot',
 'volkswagen',
 'honda',
 'pontiac',
 'mercury',
 'ford',
 'amc',
 'dodge',
 'chevrolet',
 'ford',
 'mercury',
 'dodge',
 'buick',
 'ford',
 'chevrolet',
 'chrysler',
 'vw',
 'maxda',
 'dodge',
 'amc',
 'mercedes',
 'cadillac',
 'peugeot',
 'oldsmobile',
 'plymouth',
 'plymouth',
 'datsun',
 'fiat',
 'buick',
 'chevrolet',
 'oldsmobile',
 'pontiac',
 'vw',
 'toyota',
 'chevrolet',
 'datsun',
 'chevrolet',
 'ford',
 'amc',
 'dodge',
 'audi',
 'toyota',
 'mazda',
 'datsun',
 'toyota',
 'mazda',
 'dodge',
 'datsun',
 'vw',
 'vw',
 'audi',
 'mercedes-benz',
 'honda',
 'renault',
 'subaru',
 'vokswagen',
 'datsun',
 'mazda',
 'triumph',
 'ford',
 'honda',
 'plymouth',
 'buick',
 'dodge',
 'chevrolet',
 'plymouth',
 'toyota',
 'plymouth',
 'honda',
 'subaru',
 'datsun',
 'toyota',
 'mazda',
 'plymouth',
 'ford',
 'ford',
 'volkswagen',
 'renault',
 'honda',
 'toyota',
 'datsun',
 'mazda',
 'peugeot',
 'volvo',
 'toyota',
 'datsun',
 'buick',
 'oldsmobile',
 'ford',
 'chrysler',
 'chevrolet',
 'chevrolet',
 'chevrolet',
 'pontiac',
 'dodge',
 'pontiac',
 'ford',
 'amc',
 'volkswagen',
 'mazda',
 'mazda',
 'plymouth',
 'mercury',
 'nissan',
 'honda',
 'toyota',
 'honda',
 'honda',
 'datsun',
 'buick',
 'oldsmobile',
 'chrysler',
 'ford',
 'toyota',
 'dodge',
 'chevrolet',
 'ford',
 'vw',
 'dodge',
 'ford',
 'chevy']

In [57]:
mpg.groupby('maker')['name'].count()

maker
amc              28
audi              7
bmw               2
buick            17
cadillac          2
capri             1
chevroelt         1
chevrolet        43
chevy             3
chrysler          6
datsun           23
dodge            28
fiat              8
ford             51
hi                1
honda            13
maxda             2
mazda            10
mercedes          1
mercedes-benz     2
mercury          11
nissan            1
oldsmobile       10
opel              4
peugeot           8
plymouth         31
pontiac          16
renault           5
saab              4
subaru            4
toyota           25
toyouta           1
triumph           1
vokswagen         1
volkswagen       15
volvo             6
vw                6
Name: name, dtype: int64

In [ ]:
mpg.set_index('maker')  #출력만 변경된거고 적용하려면 다르게..??

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
maker,,,,,,,,,
chevrolet,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
buick,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
plymouth,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
amc,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
ford,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
ford,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
vw,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
dodge,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
ford,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
chevy,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [59]:
mpg.loc[:, ['maker','name','mpg']]

         maker                       name   mpg
0    chevrolet  chevrolet chevelle malibu  18.0
1        buick          buick skylark 320  15.0
2     plymouth         plymouth satellite  18.0
3          amc              amc rebel sst  16.0
4         ford                ford torino  17.0
..         ...                        ...   ...
393       ford            ford mustang gl  27.0
394         vw                  vw pickup  44.0
395      dodge              dodge rampage  32.0
396       ford                ford ranger  28.0
397      chevy                 chevy s-10  31.0

[398 rows x 3 columns]

In [14]:
# 필터 : mpg가 15이상인 모델 
mpg[mpg.mpg>15]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [ ]:
# 필터 : mpg가 15이상인 모델 
mpg_up15 = mpg[mpg.mpg>15]
# index를 재구성 : origin
mpg_up15.reset_index()

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
2,3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
3,4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
4,14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
...,...,...,...,...,...,...,...,...,...,...
324,393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
325,394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
326,395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
327,396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
328,397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [22]:
# iloc, loc 를 이용해서 데이터를 row, column 다양하게 출력  
mpg.loc[:4, ['mpg', 'horsepower', 'model_year']]
mpg.iloc[:4, :5]

    mpg  cylinders  displacement  horsepower  weight
0  18.0          8         307.0       130.0    3504
1  15.0          8         350.0       165.0    3693
2  18.0          8         318.0       150.0    3436
3  16.0          8         304.0       150.0    3433